server {

{% for k, v in item.server.configuration.iteritems() recursive %}
  {% set main_loop = loop %}
  {% if v is string %}
    {{ k }} {{ v }};
  {% elif v is mapping %}
    {{ k }} {{ v.name }} {
      {{ main_loop(v.configuration.iteritems()) }}
    }
  {% elif v is sequence %}
    {% for i in v %}
      {% if i is string %}
        {{ k }} {{ i }};
      {% elif i is mapping %}
        {{ k }} {{ i.name }} {
          {{ main_loop(i.configuration.iteritems()) }}
        }
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

}
